

:root {

    --primary-color: rgb(47, 60, 126);
    --bg-color: rgb(251, 234, 235);
}

ul,
li {
    margin: 0px;
    padding: 0px;
}

li span {
    position: relative;
    left: -10px;
}

body {
    margin: 0px 0.02vw;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: "Rajdhani", sans-serif;
    font-weight: 100;
}

h2 {
    margin: 0px;
    font-size: 3rem;
}

.main-hdr {
    /* margin: 10px; */
    margin-left: 30px;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-hdr h2{
    font-family: 'Rubik Wet Paint', sans-serif;
    font-weight: 400;
}


.main-hdr ul {
    display: flex;
    list-style: none;
    margin-right: 10px;
}

.main-hdr a {
    text-decoration: none;
    color: var(--primary-color);
}

.main-hdr li {
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 17px;
    transition: all 0.1s;
}

.main-hdr li:hover {
    border-bottom: 3px solid var(--primary-color);
    cursor: pointer;

}

.active {
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;

}

.welcome-section {
    height: 80vh;
    width: 90vw;
    margin-left: 50px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 0.1vw;
}

.welcome-img{
    /* background-color: brown; */
    /* padding-left: 0px; */
    margin-left: 0px;
}

.hi-text h3 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0px;
    margin: 0px;

}
.summary h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.propic {
    margin-left: 100px;
    width: 400px;
    height: 400px;
}

.download-btn {
    height: 50px;
    width: 200px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    font-weight: 500;
    font-size: 1.3rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    text-align: justify;
}

.title {
    margin-left: 180px;
    margin-top: 50px;
    /* font-size: 1.5rem; */
    font-size: 30px;
    font-weight: 500;
}

.content {
    margin-left: 180px;
    margin-top: 80px;
    font-size: 20px;
    font-weight: 500;
}

.content ul {
    list-style: none;
    display: flex;
    padding: 0px;
}

.content li {
    padding: 0px;
}

.experience-item {
    width: 350px;
    height: 230px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    margin-right: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.experience-item ul {
    list-style: inside;
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.experience-item li {
    padding: 10px;
}

.exp-title {
    padding: 5px;
    border-bottom: 1px solid var(--primary-color);
}

.exp-org {
    padding: 5px;
    font-size: 1.1rem;
}

.exp-duration {
    padding-right: 5px;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}

.exp-details li{
    margin: 0px;
    padding-top: 2px;
    font-size: 1.1rem;
}

.contact-item{
    display: flex;
    /* justify-content: start; */
    /* align-items: center; */
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    margin-right: 20px;
    /* padding-top: 15px; */
    height: 265px;
    width: 340px;
    cursor: pointer;
    transition: all 0.5s;
    /* background-color: aqua; */
}

.contact-item:hover{
    /* background-color: blueviolet; */
    /* display: flex; */
    /* justify-content: center; */
    border: 1px solid var(--primary-color);
    /* border-radius: 10px; */
    /* margin-right: 20px; */
    /* height: 265px; */
    /* width: 340px; */
}
.contact-img{
    display: flex;
    justify-content: center;
    width: inherit;
    margin-top: 75px;
    /* margin-left: 75px; */
    font-size: 2rem;
}

/* .contact-img {
    position: relative;
    display: inline-block;
    font-size: 48px; /* Adjust the size as needed */
/* }  */


.contact-img {
    position: absolute;
    transition: opacity 0.3s ease;
}

.contact-img .fa-envelope {
    opacity: 1; /* Visible by default */
}

.contact-img .fa-envelope .fa-beat {
    opacity: 0; /* Hidden by default */
}

.contact-img:hover .fa-envelope {
    opacity: 0; /* Fade out the envelope */
}

.contact-img:hover .fa-envelope .fa-beat {
    opacity: 1; /* Fade in the checkmark */
}


.contact-details{
    display: flex;
    justify-content: center;
    width: inherit;
    margin-top: 135px;
    position: absolute;
    /* padding: 20px; */
}

.follow-me{
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.follow-me h3{
   font-weight: 500; 
}

.follow-me ul{
    list-style: none;
}

.follow-me li{
    position: relative;
    display: inline;
    font-size: 1.5em;
    margin: 0;
}
.fb{
    width: 100px;
    height: 100px;
    /* background-color: blueviolet; */
}

/* .fa-brands .fa-square-facebook{
   font-size: 2em; 
} */