:root{

--primary-color: rgb(47, 60, 126);
--bg-color: rgb(251, 234, 235);
}

body{
    margin: 0px;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

h2{
    margin: 0px;
    font-size: 3rem;
}

.main-hdr{
    /* margin: 10px; */
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.main-hdr ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.main-hdr a{
    text-decoration: none;
    color: var(--primary-color);
}

.main-hdr li{
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    /* color: #000; */
    /* border-bottom: 3px solid transparent; */

}

.main-hdr li:hover{
    border-bottom: 3px solid var(--primary-color);
    cursor: pointer;

}

.active{
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;

}

.welcome-section{
    height: 80vh;
    width: 100vw;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .welcome-img{
    background-color: brown;
    padding-left: 50px;
} */

.hi-text h3{
    font-size: 2rem;
    margin: 0px;
    margin: 0px;

}

.welcome-container{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.propic{
    margin-left: 100px;
}

.download-btn{
    height: 50px;
    width: 200px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
}

.about-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    text-align: justify;
}

.title, .content{
    margin-left: 200px;
    margin-top: 50px;
    font-size: 1.5rem;
}

.content{
    font-size: 1.3rem;
}

/* .content{

} */