

:root {

    --primary-color: rgb(47, 60, 126);
    --bg-color: rgb(251, 234, 235);
}

ol,
li {
    margin: 0px;
    padding: 0px;
}

li span {
    position: relative;
    left: -10px;
}

body {
    margin: 0px 0.02vw;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: "Rajdhani", sans-serif;
    font-weight: 100;
}

h2 {
    margin: 0px;
    font-size: 3rem;
}

.main-hdr {
    /* margin: 10px; */
    margin-left: 30px;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.main-hdr ul {
    display: flex;
    list-style: none;
    margin-right: 10px;
}

.main-hdr a {
    text-decoration: none;
    color: var(--primary-color);
}

.main-hdr li {
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 17px;
}

.main-hdr li:hover {
    border-bottom: 3px solid var(--primary-color);
    cursor: pointer;

}

.active {
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;

}

.welcome-section {
    height: 80vh;
    width: 90vw;
    margin-left: 50px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 0.1vw;
}

.welcome-img{
    /* background-color: brown; */
    /* padding-left: 0px; */
    margin-left: 0px;
}

.hi-text h3 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0px;
    margin: 0px;

}
.summary h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.propic {
    margin-left: 100px;
    width: 400px;
    height: 400px;
}

.download-btn {
    height: 50px;
    width: 200px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    font-weight: 500;
    font-size: 1.3rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    text-align: justify;
}

.title {
    margin-left: 180px;
    margin-top: 50px;
    /* font-size: 1.5rem; */
    font-size: 30px;
    font-weight: 500;
}

.content {
    margin-left: 180px;
    margin-top: 80px;
    font-size: 20px;
    font-weight: 500;
}

.content ul {
    list-style: none;
    display: flex;
    padding: 0px;
}

.content li {
    padding: 0px;
}

.experience-item {
    width: 350px;
    height: 230px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    margin-right: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.experience-item ul {
    list-style: inside;
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.experience-item li {
    padding: 10px;
}

.exp-title {
    padding: 5px;
    border-bottom: 1px solid var(--primary-color);
}

.exp-org {
    padding: 5px;
    font-size: 1.1rem;
}

.exp-duration {
    padding-right: 5px;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}

.exp-details li{
    margin: 0px;
    padding-top: 2px;
    font-size: 1.1rem;
}